<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PiggiMarket</a>
    <button type="button" (click)="logout()" class="btn btn-primary" >Logout</button>
  </nav>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="inventario">Inventario</a>
    <a class="navbar-brand" href="crearproducto">Crear Producto</a>
    <a class="navbar-brand" href="crearlote">Crear Lote</a>
  </nav>
  <div class="container">
  <form class="woocommerce-cart-form" (ngSubmit)="crearProducto()">
    <br>
    <div class="form-group">
    <label>Producto</label>
    <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre">
    <label >Precio</label>
    <input type="number" class="form-control" [(ngModel)]="precio" name="precio">
    <label >Unidad de Medida</label>
    <input type="text" class="form-control"[(ngModel)]="medida" name="medida">
    <label >Url de la Imagen</label>
    <input type="text" class="form-control" [(ngModel)]="url" name="url">
    <br>
    <button type="input" class="btn btn-primary" style=" width:300px; position: relative;left: 10.5cm;">Crear Nuevo Producto</button>
    </div>
  </form>
  </div>
  <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; PiggiMarket 2018</p>
      </div>
    </footer>
