<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PiggiMarket</a>
  <button type="button" (click)="logout()" class="btn btn-primary" >Logout</button>
</nav>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="inicio">Productos</a>
  <a class="navbar-brand" href="carrito">Carrito de Compra</a>
</nav>
<form class="woocommerce-cart-form">
  <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents mb-0" cellspacing="0">
    
  </table>
</form>