<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PiggiMarket</a>
  <button type="button" (click)="logout()" class="btn btn-primary" >Logout</button>
</nav>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="inicio">Productos</a>
  <a class="navbar-brand" href="carrito">Carrito de Compra</a>
</nav>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4" *ngFor="let producto of productos">
        <div class="card mb-4 shadow-sm" >
          <img class="card-img-top"  alt="Thumbnail [100%x225]" src="{{producto.url}}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">{{producto.nombre}}</p>
            <p class="card-text">${{producto.precio}}</p>
            <p class="card-text">medida: {{producto.medida}}</p>
            <p class="card-text">referencia: {{producto.codigo}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Agregar Producto</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer text-faded text-center py-5">
  <div class="container">
    <p class="m-0 small">Copyright &copy; PiggiMarket 2018</p>
  </div>

  <pre>
    {{message}}
  </pre>
</footer>