<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PiggiMarket</a>
  <button type="button" (click)="logout()" class="btn btn-primary" >Logout</button>
</nav>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="inicio">Productos</a>
  <a class="navbar-brand" href="carrito">Carrito de Compra</a>
</nav>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <!--<div class="col-md-4" *ngFor="let producto of productos">

      </div>-->

      <div class="col-md-4" *ngFor="let producto of productos">
        <app-producto nombre={{producto.nombre}} precio={{producto.precio}} medida={{producto.unidadMedida}} codigo={{producto.nombre}} url={{producto.url}}></app-producto>
      </div>


    </div>
  </div>
</div>
<footer class="footer text-faded text-center py-5">
  <div class="container">
    <p class="m-0 small">Copyright &copy; PiggiMarket 2018</p>
  </div>

  <pre>
    {{message}}
  </pre>
</footer>